html, body{

    position: relative;
    height: auto;
    min-height: 100% !important;
    
}

.donorContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.donorContainerRight{
    width: 30%;
    background-color: yellow;
    overflow: scroll;
    margin-right: 1vh;
    margin-top: 50px;
    height: 100%;


    position:fixed;
    top:0;
    z-index:100;
    right: 0;



}

.donorContainerLeft{
    width: 70%;
    background-color: orange;
    height: 100%;

}
.clickDiv{
    opacity: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;

    display: flex;
    flex-wrap: wrap;

}


.indicate{
    background-color: rgb(2, 2, 8);
    height: 300px;
    margin: 15px;
    flex: 1 0 30%;   
    border-left: 1px solid #0090b1;
    border-bottom: 1px solid #0090b1;
}
@media only screen and (max-width: 1026px) {


  }
  
  @media only screen and (max-width: 700px) {
    .donorContainer{
        flex-direction: column;
    }
    .donorContainerLeft{
        width: 100%;
    }
    .donorContainerRight{
        width: 100%;
        height: 500px;
        display: none;
    }
   
  }

  @media only screen and (max-width: 1450px) {
    .indicate{
        flex: 1 0 45%;
    }
  }


@media only screen and (max-width: 700px) {
    .indicate{
        width: 100%;
        margin: 0px 15px 40px 15px;
        position: center;
    }

  }